/Робот Машинка/прошивки/robot_pult/RobotCarPult/bin/
/Робот Машинка/прошивки/robot_pult/RobotCarPult/gen/
/Робот Машинка/прошивки/robotcar_usb_android/RobotCarAndroidUSBClient/bin/
/Робот Машинка/прошивки/robotcar_usb_android/RobotCarAndroidUSBClient/gen/

